@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-color: #1E2328;
    --text-color: #FED054;
    --bg-color: #F4A303;
    --black-color: #2A2E34;
    --border: 0.1rem solid #F4B300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
    font-family: "Poppins", sans-serif;
}

/* Base Html Codes */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    height: auto;
    background-color: var(--text-color);
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: var(--black-color);
}

body {
    background-color: var(--main-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

section {
    padding: 3.5rem 7%;
}

footer {
    padding: 3.5rem 7%;
}
/* Header Html Start */
.header .logo img {
    width: 7rem;
    background-color: transparent;
    padding: 0.5rem 0;
}
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgb(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navbar li, a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--bg-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
/* Header Html Start */
/* Footer Html Start */
.footer {
    background-color: var(--black-color);
    text-align: center;
}

.footer .share {
    padding: 2rem 0;
}

.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: var(--text-color);
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer .links a {
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: var(--text-color);
    font-size: 2rem;
    border: var(--border);
}
.footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
}
.footer .links a.active {
    background-color: var(--black-color);
}
.footer .credit {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 1.5rem;
}
.footer .credit span {
    color: var(--text-color);
}
/* Footer Html End */
/* Akay Html Start */
.akay {
    min-height: 100vh;
    margin-top:-12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.akay .content {
    max-width: 80rem;
}

.akay .content h3 {
    color: var(--text-color);
    font-size: 6rem;
}

.akay .content p {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.0;
    padding: 2rem 0;
}
/* Akay Html End */
/* Ana Sayfa Start */
.home {
    min-height: 100vh;
    margin-top: -12.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2rem;
}
.home .content {
    max-width: 60rem;
    flex: 1 1 45rem;
}
.home .content h3 {
    color: var(--text-color);
    font-size: 6rem;
    text-align: center;
}
.home .content p {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.0;
    padding: 2rem 0;
}
.home .image {
    flex: 1 1 45rem;
    max-width: 60rem;
    box-shadow: 0px 0px 17px -2px rgb(0, 0, 0, 0.75);
    border-radius: 15%;
}
.home .image img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15%;
}
/* Ana Sayfa End */
/* Duyurular Html Start */
.duyurular {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    row-gap: 6rem;
    padding: 10rem 30rem;
}

.duyurular ul, li{
    list-style-type: none;
}

.grids:hover .icerik {
    transform: scale(1.1);
}

.grids .icerik {
    margin: 2rem 2rem;
}
.grids {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
}
.grids .icerik .baslik {
    border: var(--border);
    padding: 0.5rem 4rem;
    display: flex;
    align-items: center;
}
.grids .icerik .ozet {
    padding: 0.5rem 3rem;
    min-height: 10rem;
    margin-top: 2rem;
    border: var(--border);
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.grids .icerik .baslik .grid-logo img {
    width: 100%;
}
.grids .icerik .baslik .grid-logo {
    max-width: 4rem;
    padding: 0.2rem 0.1rem;
    background-color: var(--text-color);
    border-radius: 10%;
}
.grids .icerik .baslik h3 {
    color: var(--text-color);
    font-size: 2rem;
    padding-left: 3rem;
}
.grids .icerik .ozet p,
.grids .icerik .ozet span{
    color: var(--text-color);
    font-size: 1.2rem;
}
.grids .icerik .ozet .isim {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
}
.grids .icerik .ozet p {
    padding: 1rem 1rem;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}
.grids .icerik .ozet .adamolan {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.mert .ahmet {
    color: var(--text-color);
    padding-top: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    margin-bottom: 3rem;
}
/* Duyurular Html End */
/* Parlamento Html Start */
.parlamento {
    min-height: 100vh;
    margin-top: -6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parlamento .aciklama,
.parlamento .baslangic {
    max-width: 80rem;
}
.parlamento h2 {
    color: var(--text-color);
    font-size: 6rem;
}
.parlamento p {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.0;
    padding: 2rem 0;
}
/* Parlamento Html End */
/* Tarihte Bugün Html Start */
.tarih {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.tarih .tarihte-bugun {
    display: flex 1 1 45rem;
    align-items: start;
    justify-content: start;
    width: 80rem;
    height: auto;
}
.tarih .tarihte-bugun h1 {
    color: var(--text-color);
    font-size: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tarih .tarihte-bugun h2 {
    margin-top: 5rem;
    color: var(--text-color);
    font-size: 5rem;
    margin-bottom: 2rem;
}
.tarih .tarihte-bugun li {
    list-style-type: disc;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-size: 2rem;
}                       
.tarih .tarihte-bugun p {
    color: var(--text-color);
    font-size: 2rem;
}                                           
/* Tarihte Bugün Html End */
/* Responsive Start */
@media (min-width: 768px) {
    .header .buttons button {
        display: none;
    }
}
@media (min-height: 690px) {
    .parlamento {
        margin-top: 2rem;
    }
    .akay .content {
        margin-top: 10rem;
    }
    .mert .ahmet {
        padding-bottom: 3rem;
    }
    .duyurular {
        padding: 5rem 10rem;
    }
}
@media (max-width: 991px) {
    html {
        font-size: 55%
    }
    .header {
        padding: 1.5rem 2rem;
    }
    .header .logo img {
        width: 7rem;
    }
    section {
        padding: 2rem;
    }
    footer {
        padding: 2rem;
    }
    .mert .ahmet {
        font-size: 3rem;
    }
    .duyurular {
        margin-top: 3rem;
    }
}
@media (max-width: 843px) {
    section {
        padding-top: 13rem;
    }
    .duyurular {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .mert .ahmet {
        font-size: 3rem;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .header .buttons button {
        display: inline-block;
    }
    #navbar {
        position: fixed;
        top: 0;
        margin-top: 11rem;
        right: -250px;  /* Başlangıçta gizli */
        width: 20rem;
        height: 38rem;
        background-color: #fff;
        transition: right 0.3s ease-in-out;
        padding-top: 2rem;
        border-radius: 5%;
    }
    
    #navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    
    #navbar ul li {
        padding: 15px;
    }
    
    #navbar ul li a {
        color: var(--main-color);
        text-decoration: none;
        display: block;
        transition: 0.2 ease-in;
    }
    
    #navbar ul li a:hover {
        border-bottom: 0.1rem solid var(--text-color);
        padding-bottom: 1rem;
    }
    .mert .ahmet {
        font-size: 5rem;
    }
    .duyurular {
        padding: 5rem 9rem;
        margin: 2rem 0rem;
    }
    .home,
    .tarih,
    .mert,
    .parlamento,
    .akay {
        margin-top: -10rem;
    }
}
@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
    .header #menu-btn {
        display: inline-block;
    }
    .duyurular {
        padding: 3rem 5rem;
    }
}
@media (max-width:430px), (min-width: 400px) {
    .parlamento .baslangic {
        margin-top: -25rem;
    }
}
@media (max-width: 400px) {
    .parlamento .baslangic {
        margin-top: 5rem;
    }
}
@media (max-width: 344px) {
    .parlamento .baslangic {
        margin-top: -10rem;
    }
}